<h1>Listing incoming_calls</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incoming_calls.each do |incoming_call| %>
  <tr>
    <td><%= link_to 'Show', incoming_call %></td>
    <td><%= link_to 'Edit', edit_incoming_call_path(incoming_call) %></td>
    <td><%= link_to 'Destroy', incoming_call, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incoming call', new_incoming_call_path %>
