<%= form_for(@incoming_text) do |f| %>
  <% if @incoming_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incoming_text.errors.count, "error") %> prohibited this incoming_text from being saved:</h2>

      <ul>
      <% @incoming_text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
