<h1>Listing turns</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turns.each do |turn| %>
  <tr>
    <td><%= link_to 'Show', turn %></td>
    <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
    <td><%= link_to 'Destroy', turn, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Turn', new_turn_path %>
