<h1>Twilio Tic Tac Toe</h1>

<table border="1">
<% @games.each do |game| %>
  <tr>
	<td><%= render :partial => 'game', :locals => {:game => game} %></td>
    <!-- <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>